body {
  background-image: url('./assets/hero.jpg');
  background-position: center;
  background-size: cover;
}


.display-container {
  display: flex;
  height: 180px;
  margin-left: 300px;
}

.main {
  margin-left: 200px;
  margin-right: 200px;
  width: 900px;
  height: 180px;
}

#root > section > div > div > div > p.title.is-1.has-text-text-centered {
  width: 900px;
}

.title {
  color: #FFF;
}

.title.is-1 {
  font-size: 2rem;
}

form {
  display: inline-block;
  font-size: 2.5rem;
}

input.input {
  box-shadow: none;
  // margin-left: 20px;
  border: none;
  background: rgba(0,0,0,0.1);
  color: #FFF;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2rem;
  font-weight: 500;
  vertical-align: baseline;
  &:hover {
    background: rgba(0,0,0,0.0);
    border-color: rgba(0,0,0,0.0);
  }
  &:focus {
    box-shadow: none;
    background: rgba(0,0,0,0.0);
  }
}

.toggle, .reset {
  font-size: medium;
}
.extra-information-container {
  display: flex;
  margin-left: 20px;
}
.extra-information {
  margin-left: 30px;
}
.extra-info {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 400px;
  font-size: x-large;
}